// CSS for the Footer component in components/Footer.tsx.

@import "scss/variables";

.wrap {
	margin: 0 auto;
	max-width: $content-width-extended;
	padding: 0 10px;
}

@media screen and (min-width: $content-width-extended) {
	.wrap {
		padding: 0;
	}
}

footer.main {
	background: $color-light-gray;
	padding: 2em 1em;
}

footer.main p {
	color: $color-dark-gray;
	margin: 0;
	font-size: smaller;
}
